<h1>Gerenciador de Conteúdo</h1>

<a href="http://localhost/learning_mvc/?pagina=admin&metodo=create">Criar publicação</a>
<br>
<br>
<hr>
<br>
<table border="2">
    <tr>
        <th>ID</th>
        <th>AUTOR</th>
        <th>TÍTULO</th>
        <th>ALTERAÇÃO</th>
        <th>DELEÇÃO</th>
    </tr>
    {% for postagem in postagens %}
        <tr>
            <th>{{postagem.id_postagem}}</th>
            <th>{{postagem.autor_postagem}}</th>
            <th>{{postagem.titulo_postagem}}</th>            
            <th><a href="http://localhost/learning_mvc/?pagina=admin&metodo=change&id={{postagem.id_postagem}}">Alterar</a></th>
            <th><a href="http://localhost/learning_mvc/?pagina=admin&metodo=delete&id={{postagem.id_postagem}}">Deletar</a></th>
        </tr>
        {% endfor %}
</table>