<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="App/Template/styles.css">
</head>
<body>
    <section id="corpo">
        <header>
            <nav id="topo">
                <div id="top-left">
                    <a href="http://localhost/learning_mvc/">Home</a>
                    <p> | </p>
                    <a href="http://localhost/learning_mvc/?pagina=sobre">Sobre</a>
                </div>
                <div id="top-right">
                    <a href="http://localhost/learning_mvc/?pagina=admin&metodo=index">Admin</a>
                </div>
            </nav>
        </header>
        <div id="conteudo">
            {{area_dinamica}}
        </div>
    </section>
</body>
</html>