<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="App/Template/styles.css">
</head>
<body>
    <section id="corpo">
        <header>
            <nav id="topo">
                <a href="#">Home</a>
                <p>|</p>
                <a href="#">Sobre</a>
            </nav>
        </header>
        <div id="conteudo">
            {{area_dinamica}}
        </div>
    </section>
</body>
</html>