<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="App/Template/styles.css">
    <title>SAEP</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Tela de {{tela_dinamica}}</h1>
        </div>
        <div id="links">
            <a href="http://localhost/learning_mvc/Segundo_mvc/">Menu Principal</a>
            <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=index">Cadastrar Tarefa</a>
            <a href="http://localhost/learning_mvc/Segundo_mvc/">Cadastrar Usuário</a>
        </div>
    </header>
    <section>
        {{area_dinamica}}
    </section>
</body>
</html>