<section>
    <form action="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=create" method="post">
        <label for="descricao">Digite a descrição da tarefa:</label><br>
        <textarea name="descricao" rows="5" cols="45"></textarea><br>

        <label for="setor">Digite o setor da tarefa</label>
        <input type="text" name="setor"><br>
        
        <label for="usuario">Digite o usuário</label>
        
        <select name="usuario">
            {% for usuario in usuarios %}
                <option value="{{usuario.id_usuario}}">{{usuario.nome_usuario}}</option>
            {% endfor %}
        </select><br>
        
        <label for="prioridade">Selecione a prioridade da tarefa</label>
        <select name="prioridade">
            <option value="Alta">Alta</option>
            <option value="Média">Média</option>
            <option value="Baixa">Baixa</option>
        </select><br>
        <input type="submit" name="cadastrar" value="Cadastrar Tarefa">
    </form>
</section>