<section id="Home">
    <h1>Tarefas:</h1>
    <section id="tarefas_menu">
        <div>
            <h2>A FAZER</h2>
            {% for tarefa in tarefas %}
                {% if (tarefa.status_tarefa == "A fazer") %}
                    <div class="tarefa">
                        <p>Descrição: {{tarefa.descricao_tarefa}}</p>
                        <p>Setor: {{tarefa.setor_tarefa}}</p>
                        <p>Prioridade: {{tarefa.prioridade_tarefa}}</p>
                        <p>Vinculado: {{tarefa.nome_usuario}}</p>
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=delete&id={{tarefa.id_tarefa}}">Deletar</a>  
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=change&id={{tarefa.id_tarefa}}">Alterar</a>
                        <br>
                        <form action="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=changeStatus&id={{tarefa.id_tarefa}}" method="POST">
                            <select name="status">
                                <option value="A Fazer" selected>A fazer</option>
                                <option value="Fazendo">Fazendo</option>
                                <option value="Pronto">Pronto</option> <br>
                            </select>
                            <input type="hidden" value="{{tarefa.id_tarefa}}" name="id">
                            <input type="submit" value="Alterar Status" name="alterarStatus">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h2>FAZENDO</h2>
            {% for tarefa in tarefas %}
                {% if (tarefa.status_tarefa == "Fazendo") %}
                    <div class="tarefa">
                        <p>Descrição: {{tarefa.descricao_tarefa}}</p>
                        <p>Setor: {{tarefa.setor_tarefa}}</p>
                        <p>Prioridade: {{tarefa.prioridade_tarefa}}</p>
                        <p>Vinculado: {{tarefa.nome_usuario}}</p>
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=delete&id={{tarefa.id_tarefa}}">Deletar</a>  
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=change&id={{tarefa.id_tarefa}}">Alterar</a>
                        <br>
                        <form action="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=changeStatus&id={{tarefa.id_tarefa}}" method="POST">
                            <select name="status">
                                <option value="A Fazer">A fazer</option>
                                <option value="Fazendo" selected>Fazendo</option>
                                <option value="Pronto">Pronto</option> <br>
                            </select>
                            <input type="hidden" value="{{tarefa.id_tarefa}}" name="id">
                            <input type="submit" value="Alterar Status" name="alterarStatus">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h2>PRONTO</h2>
            {% for tarefa in tarefas %}
                {% if (tarefa.status_tarefa == "Pronto") %}
                    <div class="tarefa">
                        <p>Descrição: {{tarefa.descricao_tarefa}}</p>
                        <p>Setor: {{tarefa.setor_tarefa}}</p>
                        <p>Prioridade: {{tarefa.prioridade_tarefa}}</p>
                        <p>Vinculado: {{tarefa.nome_usuario}}</p>
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=delete&id={{tarefa.id_tarefa}}">Deletar</a>     
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=change&id={{tarefa.id_tarefa}}">Alterar</a>
                        <br>
                        <form action="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=changeStatus&id={{tarefa.id_tarefa}}" method="POST">
                            <select name="status">
                                <option value="A Fazer">A fazer</option>
                                <option value="Fazendo">Fazendo</option>
                                <option value="Pronto" selected>Pronto</option> <br>
                            </select>
                            <input type="hidden" value="{{tarefa.id_tarefa}}" name="id">
                            <input type="submit" value="Alterar Status" name="alterarStatus">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</section>