<section id="Home">
    <h1>Tarefas:</h1>
    <section id="tarefas_menu">
        <div>
            <h2>A FAZER</h2>
            {% for tarefa in tarefas %}
                {% if (tarefa.status_tarefa == "A fazer") %}
                    <div class="tarefa">
                        <p>Descrição: {{tarefa.descricao_tarefa}}</p>
                        <p>Setor: {{tarefa.setor_tarefa}}</p>
                        <p>Prioridade: {{tarefa.prioridade_tarefa}}</p>
                        <p>Vinculado: {{tarefa.nome_usuario}}</p>
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=delete&id={{tarefa.id_tarefa}}">Deletar</a>  
                        <button type="submit" name="alterar" value='{{tarefa.id_tarefa}}'>Alterar</button>
                        <form action="" method="POST">
                            <input type="radio" value="A Fazer" name="A fazer">A fazer
                            <input type="radio" value="Fazendo" name="Fazendo"> Fazendo
                            <input type="radio" value="Pronto" name="Pronto"> Pronto <br>
                            <input type="submit" value="Alterar Status" name="alterarStatus">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h2>FAZENDO</h2>
            {% for tarefa in tarefas %}
                {% if (tarefa.status_tarefa == "Fazendo") %}
                    <div class="tarefa">
                        <p>Descrição: {{tarefa.descricao_tarefa}}</p>
                        <p>Setor: {{tarefa.setor_tarefa}}</p>
                        <p>Prioridade: {{tarefa.prioridade_tarefa}}</p>
                        <p>Vinculado: {{tarefa.nome_usuario}}</p>
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=delete&id={{tarefa.id_tarefa}}">Deletar</a>  
                        <button type="submit" name="alterar" value='{{tarefa.id_tarefa}}'>Alterar</button>
                        <form action="" method="POST">
                            <input type="radio" value="A Fazer" name="A fazer">A fazer
                            <input type="radio" value="Fazendo" name="Fazendo"> Fazendo
                            <input type="radio" value="Pronto" name="Pronto"> Pronto <br>
                            <input type="submit" value="Alterar Status" name="alterarStatus">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h2>PRONTO</h2>
            {% for tarefa in tarefas %}
                {% if (tarefa.status_tarefa == "Pronto") %}
                    <div class="tarefa">
                        <p>Descrição: {{tarefa.descricao_tarefa}}</p>
                        <p>Setor: {{tarefa.setor_tarefa}}</p>
                        <p>Prioridade: {{tarefa.prioridade_tarefa}}</p>
                        <p>Vinculado: {{tarefa.nome_usuario}}</p>
                        <a href="http://localhost/learning_mvc/Segundo_mvc/?pagina=admin&metodo=delete&id={{tarefa.id_tarefa}}">Deletar</a>     
                        <button type="submit" name="alterar" value='{{tarefa.id_tarefa}}'>Alterar</button>
                        <form action="" method="POST">
                            <input type="radio" value="A Fazer" name="A fazer">A fazer
                            <input type="radio" value="Fazendo" name="Fazendo"> Fazendo
                            <input type="radio" value="Pronto" name="Pronto"> Pronto <br>
                            <input type="submit" value="Alterar Status" name="alterarStatus">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
</section>